#ignore terraform state file
*.tfstate

#ignore docker compose yaml file
compose.yml

#ignore state
*.tfstate.backup

#ignore state
*.tfstate.lock

#ignore state file d
state.tf

#From the application code
data/
tmp/
dist/
output/
node_modules/
.vscode/
.idea/
logs/
locale/**/*.js

fider
fider.exe
ssr.js
.env
npm-debug.log

profile.out
debug
debug.test
.DS_Store
cover.out
gcloud-key.json
coverage.tmp
tsconfig.tsbuildinfo
etc/*.pem
fider_schema.sql
fider.sql
.terraform
