name: Terraform Deploy workflow

on:
  push:
    branches:
      - feature/ci/cd
    paths:
      - "infra/**"

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.0.0

      - name: Initialize Terraform
        working-directory: ./infra
        run: terraform init

      - name: Plan Terraform
        working-directory: ./infra
        run: terraform plan

      - name: Apply Terraform
        working-directory: ./infra
        run: terraform apply -auto-approve
